/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'), url(https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adf3nOCr2z3wM.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'), url(https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adf3nOCv2z3wM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'), url(https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adf3nOCX2zw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v12/7Auwp_0qiz-afT3GLRrX.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v12/7Auwp_0qiz-afTzGLRrX.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v12/7Auwp_0qiz-afTLGLQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adZXgOCr2z3wM.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adZXgOCv2z3wM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800;
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adZXgOCX2zw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* common */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, strong, p, a, h1, h2, h3, h4, h5, h6, input, button, select {
    font-family: 'Muli', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background: #fff;
    min-width: 1000px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div:after {
    content: '';
    display: table;
    clear: both;
}

div, ul, li {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #fab525;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:focus, a:hover {
    text-decoration: underline;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.row:after {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.width-0 {
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
}

.width-33 {
    width: 33%;
}

.width-66 {
    width: 66%;
}

.width-50 {
    width: 50%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.fixed {
    position: fixed !important;
}

.absolute {
    position: absolute !important;
}

.rounded {
    border-radius: 50%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.strong {
    font-weight: bold;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.margin-0 {
    margin: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.indent-10 {
    padding-left: 10px !important;
}

.indent-20 {
    padding-left: 20px !important;
}

.indent-30 {
    padding-left: 30px !important;
}

.indent-40 {
    padding-left: 40px !important;
}

.disabled, .disabled label, .disabled input {
    cursor: not-allowed !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 100%;
    overflow: hidden;
    background: #fab525;
}

.sidebar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fab525 url("../img/options-bg.jpg") no-repeat center;
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.logo {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 275px;
    height: 64px;
    background: transparent url("../img/options-logo.png") no-repeat center;
    background-size: contain;
}

.nav {
    position: absolute;
    top: 200px;
    right: 0;
}

.nav-list {
    list-style: none;
}

.nav-list > li {
    width: 325px;
    margin-bottom: 20px;
    padding: 18px 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px 0 0 50px;
    color: #fff;
    text-align: right;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-list > li:hover {
    background: rgba(255, 255, 255, 0.2);
    padding-right: 60px;
}

.nav-list > li.active {
    background: #fff;
    color: #000;
    padding-right: 50px;
    cursor: default;
    font-weight: bold;
}

.copyright {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}

/* content */
.content {
    position: relative;
    float: left;
    width: calc(100% - 480px);
    margin-left: 480px;
}

.section {
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.content .section:nth-child(even) {
    background: #f6f6f6;
}

.wrapper {
    width: 480px;
    margin: auto;
    text-align: left;
}

.section-title {
    margin-bottom: 30px;
}

.section-title .icon {
    width: 65px;
    height: 65px;
    background: #fab525;
    border-radius: 50%;
    float: left;
    display: inline-block;
}

.section-title .icon > img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-left: 15px;
}

.section-title .text {
    float: left;
    display: inline-block;
    margin-left: 10px;
}

.section-title .text .title {
    font-size: 30px;
}

.section-title .text .subtitle {
    font-size: 16px;
    color: #666;
}

.site {
    margin-bottom: 20px;
    padding: 18px 25px;
    border-radius: 50px;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.site:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    background: #fab525;
    border-radius: 50%;
}

.site .addr {
    float: right;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

.paragraph > p {
    line-height: 1.5em;
}

.paragraph > p:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    background: #fab525;
    border-radius: 50%;
}

.group-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.control-btn-container {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 64px;
    height: 64px;
    z-index: 5;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition: box-shadow 0.2s ease;
    -ms-transition: box-shadow 0.2s ease;
    -o-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}

.control-btn-container:hover {
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.control-btn-container label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent center no-repeat;
    background-size: contain;
    text-indent: -999px;
    z-index: 3;
    cursor: pointer;
}

.control-btn {
    opacity: 1;
}

.control-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.control-btn:checked:after {
    background: #fff;
}

.control-btn:checked + label {
    background-image: url(../img/options-icon-on.png);
}

.control-btn:not(:checked):after {
    background: #fab525;
    border: 4px solid #fff;
}

.control-btn:not(:checked) + label {
    background-image: url(../img/options-icon-off.png);
}

.new-tag {
    margin: 0 0 0 6px;
    padding: 0 3px;
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 10px;
    line-height: 1.5em;
    background: #58a9ff;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
    -webkit-animation: NewTag 0.4s linear infinite alternate;
    -o-animation: NewTag 0.4s linear infinite alternate;
    animation: NewTag 0.4s linear infinite alternate;
}

@-webkit-keyframes NewTag {
    from {
        background: #ff3c6a;
    }
    to {
        background: #ff902d;
    }
}

@keyframes NewTag {
    from {
        background: #ff3c6a;
    }
    to {
        background: #ff902d;
    }
}

.input-box {
    display: block;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.input-box:focus {
    border-color: #999;
}

.input-box-error {
    border-color: red;
}

.autolog-toast {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
    color: #fff;
    background: rgba(91, 183, 91, 0.9);
    font-size: 16px;
    -webkit-box-shadow: 0 0 5px rgba(91, 183, 91, 0.5);
    -moz-box-shadow: 0 0 5px rgba(91, 183, 91, 0.5);
    box-shadow: 0 0 5px rgba(91, 183, 91, 0.5);
    z-index: 200;
    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -ms-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    transition: top 0.2s linear;
}

.autolog-toast-hidden {
    top: -60px;
}

.btn {
    display: block;
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 50px;
    color: #000;
    text-decoration: none !important;
    text-align: center;
    outline: none;
    font-weight: normal;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn.inline-block {
    padding: 15px 30px;
}

.btn:hover {
    background: #eee;
}

.btn.btn-default {
    background: #eee;
}

.btn.btn-default:hover {
    background: #ddd;
    border-color: #ddd;
}

.btn.btn-primary {
    color: #fff;
    background: #fab525;
    border-color: #fab525;
    -webkit-box-shadow: 0 4px 14px rgba(250, 181, 37, 0.3);
    -moz-box-shadow: 0 4px 14px rgba(250, 181, 37, 0.3);
    box-shadow: 0 4px 14px rgba(250, 181, 37, 0.3);
}

.btn.btn-primary:hover {
    background: #f0a32d;
    border-color: #f0a32d;
}

.btn.btn-success {
    color: #fff;
    background: #5bb75b;
    border-color: #5bb75b;
    -webkit-box-shadow: 0 4px 14px rgba(91, 183, 91, 0.3);
    -moz-box-shadow: 0 4px 14px rgba(91, 183, 91, 0.3);
    box-shadow: 0 4px 14px rgba(91, 183, 91, 0.3);
}

.btn.btn-success:hover {
    background: #2fa341;
    border-color: #2fa341;
}

.section-0 {
    padding-bottom: 50px;
}

.rec-container {
    margin: 50px auto 0;
    padding-top: 50px;
    width: 700px;
    border-top: 2px solid #eee;
    font-size: 14px;
}

.rec-item {
    width: 33%;
    display: inline-block;
    float: left;
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.rec-icon {
    width: 50px;
    height: 50px;
    float: left;
}

.rec-icon > img {
    width: 100%;
}

.rec-info {
    float: left;
    width: calc(100% - 60px);
    margin-left: 8px;
}

.rec-title {
    color: #000;
    font-weight: bold;
}

.rec-intro {
    color: #999;
    font-weight: lighter;
    font-size: 12px;
}

@media (max-width: 1200px) {
    .sidebar {
        widtH: 240px;
    }

    .logo {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .nav {
        width: 100%;
    }

    .nav-list > li {
        width: 100%;
        border-radius: 0;
        padding-right: 25px !important;
    }

    .copyright {
        right: 25px;
    }

    .content {
        width: calc(100% - 240px);
        margin-left: 240px;
    }
}