/* common */
* {
    box-sizing: border-box;
}

body, strong, p, a, h1, h2, h3, h4, h5, h6, input, button, select {
    font-family: 'Muli', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background: #fff;
    min-width: 1000px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div:after {
    content: '';
    display: table;
    clear: both;
}

div, ul, li {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #fab525;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:focus, a:hover {
    text-decoration: underline;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.row:after {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.width-0 {
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
}

.width-33 {
    width: 33%;
}

.width-66 {
    width: 66%;
}

.width-50 {
    width: 50%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.fixed {
    position: fixed !important;
}

.absolute {
    position: absolute !important;
}

.rounded {
    border-radius: 50%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.strong {
    font-weight: bold;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.indent-10 {
    padding-left: 10px !important;
}

.indent-20 {
    padding-left: 20px !important;
}

.indent-30 {
    padding-left: 30px !important;
}

.indent-40 {
    padding-left: 40px !important;
}

.disabled, .disabled label, .disabled input {
    cursor: not-allowed !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 100%;
    overflow: hidden;
    background: #fab525;
}

.sidebar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fab525 url("../img/options-bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(10px);
}

.logo {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 275px;
    height: 64px;
    background: transparent url("../img/options-logo.png") no-repeat center;
    background-size: contain;
}

.nav {
    position: absolute;
    top: 200px;
    right: 0;
}

.nav-list {
    list-style: none;
}

.nav-list > li {
    width: 325px;
    margin-bottom: 20px;
    padding: 18px 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px 0 0 50px;
    color: #fff;
    text-align: right;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-list > li:hover {
    background: rgba(255, 255, 255, 0.2);
    padding-right: 60px;
}

.nav-list > li.active {
    background: #fff;
    color: #000;
    padding-right: 50px;
    cursor: default;
    font-weight: bold;
}

.copyright {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}

/* content */
.content {
    position: relative;
    float: left;
    width: calc(100% - 480px);
    margin-left: 480px;
}

.section {
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.content .section:nth-child(even) {
    background: #f6f6f6;
}

.wrapper {
    width: 480px;
    margin: auto;
    text-align: left;
}

.section-title {
    margin-bottom: 30px;
}

.section-title .icon {
    width: 65px;
    height: 65px;
    background: #fab525;
    border-radius: 50%;
    float: left;
    display: inline-block;
}

.section-title .icon > img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-left: 15px;
}

.section-title .text {
    display: block;
    margin-left: 80px;
}

.section-title .text .title {
    font-size: 1.65em;
    float: left;
    display: block;
    width: 100%;
}

.section-title .text .subtitle {
    font-size: 0.88em;
    color: #666;
    float: left;
    display: block;
    width: 100%;
}

.site {
    margin-bottom: 20px;
    padding: 15px 25px 15px 55px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: relative;
}

.site:before {
    content: "";
    position: absolute;
    left: 25px;
    top: calc(50% - 6px);
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    background: #fab525;
    border-radius: 50%;
}

.site .name {
    display: block;
}

.site .addr {
    display: block;
    font-size: 12px;
    color: #666;
}

.site .checkbox-group {
    position: absolute;
    top: calc(50% - 12.5px);
    right: 25px;
}

.paragraph > p {
    line-height: 1.5em;
}

.paragraph > p:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    background: #fab525;
    border-radius: 50%;
}

.group-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.control-btn-container {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 64px;
    height: 64px;
    z-index: 5;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.control-btn-container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.control-btn-container label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent center no-repeat;
    background-size: contain;
    text-indent: -999px;
    z-index: 3;
    border-radius: 50%;
    cursor: pointer;
}

.control-btn {
    visibility: hidden;
}

.control-btn:checked + label {
    background-color: #fff;
    background-image: url(../img/options-icon-on.png);
}

.control-btn:not(:checked) + label {
    background-color: #fab525;
    background-image: url(../img/options-icon-off.png);
    border: 4px solid #fff;
}

.new-tag {
    margin: 0 0 0 6px;
    padding: 0 3px;
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 10px;
    line-height: 1.5em;
    background: #58a9ff;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
    animation: NewTag 0.4s linear infinite alternate;
}

@keyframes NewTag {
    from {
        background: #ff3c6a;
    }
    to {
        background: #ff902d;
    }
}

.input-box {
    display: block;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 50px;
    outline: none;
    font-size: 1em;
    box-shadow: none;
    transition: all 0.2s ease;
}

.input-box:hover, .input-box:focus {
    border-color: #fab525;
    box-shadow: inset 0 0 0 1px #fab525;
}

.input-box-error {
    border-color: red;
}

.autolog-toast {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
    color: #fff;
    background: rgba(91, 183, 91, 0.9);
    font-size: 0.9em;
    box-shadow: 0 0 5px rgba(91, 183, 91, 0.5);
    z-index: 200;
    transition: top 0.2s linear;
}

.autolog-toast-hidden {
    top: -60px;
}

.btn {
    display: block;
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 50px;
    color: #000;
    text-decoration: none !important;
    text-align: center;
    outline: none;
    font-weight: normal;
    transition: all 0.2s ease;
}

.btn.inline-block {
    padding: 15px 30px;
}

.btn:hover {
    background: #eee;
}

.btn.btn-default {
    background: #eee;
}

.btn.btn-default:hover {
    background: #ddd;
    border-color: #ddd;
}

.btn.btn-primary {
    color: #fff;
    background: #fab525;
    border-color: #fab525;
    box-shadow: 0 4px 14px rgba(250, 181, 37, 0.3);
}

.btn.btn-primary:hover {
    background: #f0a32d;
    border-color: #f0a32d;
}

.btn.btn-success {
    color: #fff;
    background: #5bb75b;
    border-color: #5bb75b;
    box-shadow: 0 4px 14px rgba(91, 183, 91, 0.3);
}

.btn.btn-success:hover {
    background: #2fa341;
    border-color: #2fa341;
}

.section-0 {
    padding-bottom: 50px;
}

.rec-container {
    margin: 50px auto 0;
    padding-top: 50px;
    width: 700px;
    border-top: 2px solid #eee;
    font-size: 14px;
}

.rec-item {
    width: 33%;
    display: inline-block;
    float: left;
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.rec-icon {
    width: 50px;
    height: 50px;
    float: left;
}

.rec-icon > img {
    width: 100%;
}

.rec-info {
    float: left;
    width: calc(100% - 60px);
    margin-left: 8px;
}

.rec-title {
    color: #000;
    font-weight: bold;
}

.rec-intro {
    color: #999;
    font-weight: lighter;
    font-size: 12px;
}

.option-group {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}

.option-group:hover .option-tip-toggle {
    opacity: 1;
}

.checkbox-group .checkbox-content {
    margin-left: 65px;
}

.checkbox-group .checkbox-label {
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /*float: left;*/
}

.checkbox-group .checkbox-label small,
.radio-group label small {
    font-size: 12px;
    color: #999;
}

label.checkbox-label {
    cursor: pointer;
}

.checkbox-slide {
    float: left;
    width: 50px;
    height: 25px;
    margin: 0;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.checkbox-slide:after {
    content: "";
    display: block;
    float: right;
    position: absolute;
    background: #ddd;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    border-radius: 0 50px 50px 0;
}

.checkbox-slide:before {
    content: "";
    float: right;
    position: absolute;
    background: #5bb75b;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-radius: 50px 0 0 50px;
}

.checkbox-slide-important:before {
    background: #333;
}

.checkbox-slide label {
    display: block;
    width: 35px;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 100%);
    border-radius: 50px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-slide input[type=checkbox] {
    visibility: hidden;
}

.checkbox-slide input[type=checkbox]:checked + label {
    left: 13px;
}

.user-name-group {
    position: relative;
    margin-bottom: 20px;
}

.user-name-group .input-box {
    width: 50%;
    float: left;
    display: inline-block;
    border-radius: 50px 0 0 50px;
    border-right: none;
    margin: 0;
}

.user-name-group .input-box:hover, .user-name-group .input-box:focus {
    box-shadow: inset 0 0 0 1px #fab525;
    z-index: 10;
}

.user-extension {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    float: left;
    display: inline-block;
    padding-left: 15px;
    padding-right: 60px;
    font-size: 1rem;
    text-align: center;
    height: 50px;
    border: 1px solid #aaa;
    border-left: 1px solid #ddd;
    border-radius: 0 50px 50px 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23f2f3f5%22%20d%3D%22M0%200h42v42H0z%22%2F%3E%3Cpath%20stroke%3D%22%23d3d9e3%22%20d%3D%22M0%200v42%22%2F%3E%3Cpath%20d%3D%22M14.99%2019.582l4.95%204.95a1.5%201.5%200%200%200%202.122%200l4.95-4.95a1.5%201.5%200%200%200-2.122-2.122L21%2021.35l-3.888-3.89a1.5%201.5%200%200%200-2.12%202.122z%22%20fill%3D%22%23565A5C%22%2F%3E%3C%2Fsvg%3E);
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.user-extension:hover, .user-extension:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #fab525;
    border-color: #fab525;
}

.user-name-group .input-box:hover + .user-extension, .user-name-group .input-box:focus + .user-extension {
    border-left-color: #fab525;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 240px;
    }

    .logo {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .nav {
        width: 100%;
    }

    .nav-list > li {
        width: 100%;
        border-radius: 0;
        padding-right: 25px !important;
    }

    .copyright {
        right: 25px;
    }

    .content {
        width: calc(100% - 240px);
        margin-left: 240px;
    }
}

@media (max-width: 1000px) {
    body {
        min-width: 0;
        font-size: 14px;
    }

    .sidebar {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }

    .nav {
        display: none;
    }

    .copyright {
        display: none;
    }

    .logo {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: 50px;
        background-position: center right;
        margin: 40px 30px;
    }

    .sidebar-bg {
        filter: blur(5px);
    }

    .control-btn-container {
        position: absolute;
        top: 40px;
        left: 30px;
        width: 50px;
        height: 50px;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .section {
        padding: 50px 30px;
    }

    .wrapper {
        width: 100%;
        max-width: 480px;
    }

    .rec-container {
        width: 100%;
        max-width: 480px;
    }

    .rec-item {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .rec-icon {
        width: 40px;
        height: 40px;
    }

    .section-title .icon {
        width: 50px;
        height: 50px;
    }

    .section-title .icon > img {
        width: 27px;
        height: 27px;
        margin-top: 12px;
        margin-left: 12px;
    }

    .section-title .text {
        margin-left: 65px;
    }

    .site {
        padding-right: 80px;
    }
}

@media (max-width: 567px) {
    .btn {
        display: block;
        width: 100%;
        margin: 0 0 5px;
    }
}